body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-areas:
    'header header'
    'nav contents';
  overflow: scroll;
  font-weight: 400;
}
header {
  grid-area: header;
  background-color: white;
  position: sticky;
  top: 0;
}
svg {
  fill: rgb(96, 96, 96);
}

button:focus {
  outline: 0;
}
nav {
  grid-area: nav;
  display: flex;
  position: fixed;
  top: 72px;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;

  color: rgb(3, 3, 3);
  a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: rgb(242, 242, 242);
    }
    &:visited {
      color: rgb(3, 3, 3);
    }

    svg {
      height: 24px;
      width: 24px;
      margin-right: 24px;
    }
  }
}

.contents {
  grid-area: contents;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-auto-rows: 300px;
  grid-gap: 2rem;
  padding: 24px;
  height: auto;
  background-color: rgb(249, 249, 249);
  article {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 3px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 3px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 3px 8px 1px rgba(0, 0, 0, 0.2);

    img {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      width: 100%;
      height: 65%;
    }
    .title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-top: 2px;
    }
    .summary {
      display: block;
      width: 100%;
      overflow: auto;
      text-overflow: ellipsis;
      margin-top: 2px;
    }
    .rating {
      margin-top: 2px;
    }
  }
}
.search {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 56px;
  padding: 8px 16px;
  div {
    height: 40px;
    button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.search__start {
  display: flex;
  button {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
  }
}

.search__center {
  align-self: center;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 24px;
      width: 531px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  button {
    display: flex;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 65px;
    height: 30px;
    transform: translatex(-1px);
  }
}

.search__end {
  display: flex;
  width: 225px;
  button {
    background: transparent;
    width: 40px;
    height: 40px;
    border: none;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
