body,
html {
  padding: 0;
  margin: 0;
  background-color: rgb(97, 95, 95);
}

li {
  list-style: none;
}
ul {
  width: auto;
  /* border: 1px solid; */
  height: auto;
  margin: 0;
  padding: 0;
}

button img {
  width: 36px;
  height: 36px;
}

button {
  border: none;
  font-size: 16px;
  height: 36px;
  width: 70px;
}

button:hover {
  transform: scale(1.1);
}

button::first-letter {
  text-transform: uppercase;
}

#filter-btn1,
#filter-btn2,
#filter-btn3 {
  background-color: transparent;
  color: transparent;
}

#filter-btn4 {
  background-color: rgb(80, 157, 245);
  padding: 10px;
}

#filter-btn5 {
  background-color: yellow;
  padding: 10px;
}
#filter-btn6 {
  background-color: pink;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.items div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.items div li {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  width: 420px;
  height: 30px;
  text-align: start;
  padding: 4px;
  margin-top: 10px;
}
